body{
	font-family: Arial;
}

table{
	border: 1px solid #999;
}

th {
border-bottom: 2px solid #111111;
border-top: 1px solid #999;
}

th{
	background-color:#FFE2AA;
}

h2{
	color: #001A33;
}

h3{
	color: #003366;
}	

h4{
	color: #00527A;
}

blockquote{
	color: #3D3D1F;
	font-style: italic;
}

#logo{
	width:200px;
	height:200px;
}

#ipk,#ips{
	width:75%;
	height:100px;
}

img{
	width:100%;
	height:100%;
}

tr.even{
	background-color:#D8D8D8;
}

tr.odd{
	background-color:#F2F2F2;
}